table, tr, td{margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    /* border-collapse:separate; 
    border-spacing:10px; */
    
    font-size: 10px;}
td{width: 100px;
    height: 100px;
    text-align: center;}
td:hover{background-color: rgb(209, 206, 206);}
.box{margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 30%;
    height: 200px;
    border: 1px solid black;}