/* table, tr, td{margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 10px;}
td{width: 100px;
    height: 100px;
    text-align: center;}
td:hover{background-color: rgb(209, 206, 206);} */
.box h2{text-align: center;}
.box div{display: none;}
.box p{white-space: pre-wrap;}
.content{margin-left: auto;
        margin-right: auto;
        width: 40%;
        border: 1px solid black;
        text-align: center;}
ol{text-align: center;
    margin: 0px;
    padding:0px; }
a{text-decoration: none;
    color: black;}
li{list-style: none;
    display: inline-block;
    padding: 25px;
    text-decoration: none;}
li:hover{background-color: rgb(226, 225, 225);}
.box{margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 35%;
    height: 300px;
    /* border: 1px solid black; */
}